<div class="container">
    <div class="row">
        <div class="heading col-md-12">
            <h1 style="    font-weight: bold;
            font-size: xx-large;
            color: white;"><u>Flight Details</u></h1>
        </div>

        <div class="form">
            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>Choose a date</mat-label>
                <!-- <input matInput [matDatepicker]="datepicker"> -->
                <input matInput [matDatepicker]="datepicker" [(ngModel)]="dateValue">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <!-- <button mat-raised-button color="primary" matDatepickerApply>Apply</button> -->
                        <button mat-raised-button color="primary" matDatepickerApply
                            (click)="onDateChange()">Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
            <!-- <article>
                <h2><span>Select a day:</span></h2>
                <mat-select #matSelect required (change)="selectChangeHandler($event)">
                    <mat-option value="T1">T1</mat-option>
                    <mat-option value="T2">T2</mat-option>
                    <p><span>You selected: </span><b>{{selectedDay}}</b></p>
                </mat-select>
                
            </article> -->
            <mat-form-field appearance="outline">
                <mat-label>Terminals</mat-label>
                <select matNativeControl [(ngModel)]="selectedTerminal" name="terminal" (change)="selectChangeHandler($event)">
                  <option value="" selected></option>
                  <option *ngFor="let terminal of terminals" [value]="terminal.value">
                    {{terminal.viewValue}}
                  </option>
                </select>
                </mat-form-field>
              <!-- <p> Selected Terminal: {{selectedTerminal}} </p> -->
        </div>
        <div class="mat-elevation-z8" style="width: 70%;
        margin-left: 16%;
        margin-top: 5%;">
            <div class="table" style="width: 100%;
            height: 400px;
            max-width: 100%;
            overflow: auto;">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sr. No </th>
                        <td mat-cell *matCellDef="let element; let i=index"> {{indexList?.indexOf(element)+1}}
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Airport Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}}
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="arrivalDateTimestamp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Date
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.arrivalTimestamp | date:'short'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="departureDateTimestamp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure Date
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.departureTimestamp | date:'short'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="terminal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Terminal
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.terminal}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
                    <!-- </tr> -->
                </table>
                <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]" aria-label="Select page of users"
                    class="mat-paginator-sticky"></mat-paginator>
            </div>
        </div>
    </div>
</div>